/* Base Styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Robot', sans-serif;
    line-height: 1.6;
    background: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
    margin: 0;
}

a {
    color: #64b5f6;
}

a:hover {
    color: #bbdefb;
}

p {
    margin-bottom: 1rem;
}

h1,
h2,
h3 {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: var(--accent-color);
}


/* Layout: Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    /* background: rgba(0, 0, 0, 0.85); */
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Logo */
.logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--secondary-color);
    letter-spacing: 1px;
    padding-right: 10%;
}

.logo:hover {
    font-size: 2.1rem;
    font-weight: 700;
    color: var(--accent-color);
    letter-spacing: 1px;
}




/* Theme Toggle */
.theme-toggle {
    font-size: 1.2rem;
    cursor: pointer;
    justify-content: center;
    transition: transform 0.3s ease;
    border-radius: 50%;
    background-color: var(--secondary-color);
}

.theme-toggle:hover {
    transform: rotate(20deg);
}


/* Layout: Main Content */
main {
    margin-top: 70px;
    flex: 1;
    width: 100%;
}

/* Components: Hero Section */
.hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: rem;
    overflow: hidden;
    margin-top: 5rem;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.7;
}


.hero h1 {
    font-size: 30px;
    margin-bottom: 1rem;
    text-transform: uppercase;
    /* background-color:var(--background-gradient);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite; */
}
@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}

.hero p {
    font-size: 1.2rem;
    line-height: 1.8;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    max-width: 700px;
    margin: 2rem auto;
    padding: 0 1rem;
    text-align: justify;
}



/* Components: Services Section */
#services {
    text-align: center;
    padding: 2rem;
}

.box-fiver {
    margin: 0 auto;
    width: 80%;
    max-width: 600px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.box-fiver iframe {
    width: 100%;
    height: 500px;
    border: 0;
}

.contact-hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0rem;
    overflow: hidden;
}

.contact {
    display: flex;
    text-align: left;
    padding: 1rem;
}

.form-group {
    padding: 1rem;
}

.contact-info {
    padding: 1rem;
}

.submit-btn {
    text-align: right;
    padding: 0rem 1rem;
    justify-content: center;
    align-items: center;

}

.social-links a {
    display: inline-block;
    margin: 0 10px;
}

.social-links svg {
    width: 30px;
    height: 30px;
}

.social-links img {
    width: 30px;
    height: 30px;
}

.social-links a:hover svg {
    fill: #007bff;
}