/* Brand Colors */
:root {
    --primary-color: #00d8ff; /* RGB(0, 216, 255)  HSL(189, 100%, 50%)*/
    --secondary-color: #ffffff;/* RGB(255, 255, 255)  RGB(255, 255, 255)*/
    --background-color: #121212;/* RGB(18, 18, 18)  HSL(0, 0%, 7%)*/
    --accent-color: #ff00ff;/* RGB(255, 0, 255)  RGB(255, 0, 255)*/
    --hero-text-color: #00ffff;/* RGB(0, 255, 255)  HSL(180, 100%, 50%)*/
}