*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    /* width: 100%;
    max-width: 1200px;  
    
    Ensure spacing */
    
}

.nav-menu {
    
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    transition: all 0.3s ease;
     
}


.nav-links {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: color 0.3s ease, background 0.3s ease; 
}
.nav-links:hover {
    color: var(--primary-color);
    background:var(--background-hover);
    /* Subtle hover background */
}

/* Mobile hamburguer Toggle */
.hamburguer {
    display: none;
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: transform 0.3s ease;
    
}

.hamburguer:hover {
    transform: scale(1.2);
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}