*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    background: var(--primary-color);
}
.nav-menu {
    
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    transition: all 0.3s ease;
    margin: 0rem 4rem;  
}


.nav-links {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: color 0.3s ease, background 0.3s ease;
    background-color: rgba(0, 0, 0, 0);
}
.nav-links li{
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding-right: 10%;
}
a.nav-links {
    color: var(--text-color-dark);  
}
.nav-links:hover {

    color: rgb(0, 0, 0);
    background: var(--background-hover);
}

/* Mobile hamburguer Toggle */
.hamburguer {
    display: none;
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hamburguer:hover {
    transform: scale(1.2);
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}