/* Responsive Design */
@media (max-width: 768px) {

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-menu {
        position: fixed;
        justify-content: center;
        right: -100%;
        top: 70px;
        gap: 0rem;
        flex-direction: column;
        width: 100%;
        align-items: center;
        transition: right 0.3s ease;
        margin: auto;
    }

    .nav-menu.active {
        right: 0;
        background-color: var(--background-nav-menu);
    }
    .nav-links:hover {
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        transform: scale(1.1);
        color: var(--hero-text-color-hover);
        display: inline-block;
    }


    /* hamburguer menu*/
    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2)
    {
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1)
    {
        transform: translateY(8px) rotate(45deg);
        background-color:  var(--secondary-color);
    }
    .hamburguer.active .bar:nth-child(3)
    {
        transform: translateY(-8px) rotate(-45deg);
        background-color: var(--secondary-color);
    }

    .hamburguer.ac .cta-buttons {
        flex-direction: column;
        /* Stack buttons vertically */
        align-items: center;
    }
}